name: Playwright Tests
on:
  push:
    branches: [ main, master ]
    paths:
      - 'scraper-python/**'  # Só roda quando alterar algo no scraper-python
  pull_request:
    branches: [ main, master ]
    paths:
      - 'scraper-python/**'

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./scraper-python  # IMPORTANTE: Define o diretório de trabalho
    
    steps:
    - uses: actions/checkout@v5
    
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      working-directory: ./scraper-python  
    
    - name: Ensure browsers are installed
      run: python -m playwright install --with-deps
      working-directory: ./scraper-python
    
    - name: Run your tests
      run: pytest src/test/ -v --tracing=retain-on-failure
      working-directory: ./scraper-python
    
    - name: Upload test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-traces
        path: longa-brasil/scraper-python/src/test